@media (max-width: 576px) {

    #LandingPage-main-container{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #SwitchPage-container{
        margin: 0px;
        padding: 0px;
    }


    
    #bottom-navbar-toggle{
        border: none;
        border-radius: 1500px;
        outline: none;
        box-shadow: none;
        height: 80px;
        width: 80px;
        border: 5px dashed #D0D5DD;
        border-radius: 20px;
    }
    #TopArrangment-top-btn-container{
        padding-right: 0vw;
    }
    #profile__img{
        margin-top: 0vh;
    }
    #twitter{
        font-size: 18px;
    }
    #slack{
        font-size: 18px;
    }



    #LandingPage-link-container{
        margin-top: 0vh;
    }
    .linkbtn{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 12vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    #linktextmain{
        font-size: 14px;
    }
    #linktextsub{
        font-size: 10px;
    }



    #BelowLink-slack-div{
        margin-right: 5vw;
    }




    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }






}




@media (max-width: 768px) {
    

    #LandingPage-main-container{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #SwitchPage-container{
        margin: 0px;
        padding: 0px;
    }




    #bottom-navbar-toggle{
        border: none;
        border-radius: 1500px;
        outline: none;
        box-shadow: none;
        height: 40px;
        width: 40px;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
    #toggleimg{
        width: 100%;
        height: 100%;
    }
    #TopArrangment-top-btn-container{
        padding-right: 0vw;
    }
    #profile__img{
        margin-top: 0vh;
    }
    #twitter{
        font-size: 18px;
    }
    #slack{
        font-size: 18px;
    }



    #LandingPage-link-container{
        margin-top: 0vh;
    }
    .linkbtn{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 12vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }



    




    #BelowLink-slack-div{
        margin-right: 5vw;
    }



    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }






}






@media (max-width: 992px) {
    

    #LandingPage-main-container{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #SwitchPage-container{
        margin: 0px;
        padding: 0px;
    }




    #bottom-navbar-toggle{
        border: none;
        border-radius: 1500px;
        outline: none;
        box-shadow: none;
        height: 40px;
        width: 40px;
        border: 1px dashed #D0D5DD;
        border-radius: 20px;
    }
    #toggleimg{
        width: 100%;
        height: 100%;
    }
    #TopArrangment-top-btn-container{
        padding-right: 0vw;
    }
    #profile__img{
        margin-top: 0vh;
    }
    #twitter{
        font-size: 18px;
    }
    #slack{
        font-size: 18px;
    }



    #LandingPage-link-container{
        margin-top: 0vh;
    }
    .linkbtn{
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 12vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }




    




    #BelowLink-slack-div{
        margin-right: 5vw;
    }

    
    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }






}