@media (max-width: 576px) {



    #cont{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #bottom-navbar-toggle{
        border: none;
        border-radius: 1500px;
        height: 50px;
        width: 50px;
    }
    #toggleimg{
        width: 100%;
        height: 100%;
    }
    #TopArrangment-top-btn-container{
        padding-right: 0vw;
    }
    /* #profile__img{
        margin-top: 1vh;
    } */
    #twitter{
        font-size: 18px;
    }
    #slack{
        font-size: 18px;
    }



    #LandingPage-link-container{
        margin-top: 0vh;
    }
    .linkbtn{
        font-size: 14px;
        height: 8vh;
    }



    #Slack{
        margin-right: 2vw;
    }




    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        border: 2px solid blue;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
        border: 2px solid blue;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid blue;
    }






}




@media (max-width: 768px) {
    


    #Slack{
        margin-right: 2vw;
    }



    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }






}






@media (max-width: 992px) {
    


    #Slack{
        margin-right: 2vw;
    }

    
    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }






}