@media (max-width: 576px) {


    #twitter{
        font-size: 18px;
    }
    #slack{
        font-size: 18px;
    }



    #LandingPage-link-container{
        margin-top: 0vh;
    }
    .linkbtn{
        font-size: 14px;
        height: 8vh;
    }




    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }






}




@media (max-width: 768px) {
    



    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }






}






@media (max-width: 992px) {
    


    
    #Footer-row{
        margin-top: 8vh;
        min-height: 20vh;
    }
    #Footer-row-col-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    #Footer-row-col-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1vh;
    }
    #Footer-row-col-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }






}